<!-- <div class="header">
  <div class="demo">
    <img src="assets\sierra-l.png" alt="" class="logo">
  </div>
  <div class="signup" *ngIf="showLoginButton">
    <button mat-raised-button routerLink="/login" class="btn" type="mat-button">login</button>
  </div>
  
   <app-popup></app-popup> 
  
  <div class="fields">
    <a class="link-text" (click)="navigateToHome()">HOME</a>
    <a class="link-text" (click)="navigateToOwnershipDetails()">OWNERSHIP DETAILS</a>
    <a class="link-text" (click)="navigateToPaymentHistory()">PAYMENT HISTORY</a>
    <a class="link-text" (click)="navigateToPortalTickets()">PORTAL TICKETS</a>
  </div>
</div> -->
<app-toolbar ></app-toolbar>
<!-- [showLoginButton]="showLoginButton" (menuToggled)="handleMenuToggle($event)" -->
<router-outlet></router-outlet> 
