<!-- <mat-toolbar></mat-toolbar>
<div class="content-container" >
  <div class="container" >
    <div class="action">
      <div class="profile" style="float: right;">
        <img src="https://graeweb.github.io/expire/images/reviewer2.jpg" alt="profile-img">
      </div>
      <div class="menu" >
        <h3>Someon Famous<br/><span>Website Designer</span></h3>
        <ul>
          <li>
            <i class="far fa-user-circle"></i>
            <a href="#">My Profile</a>
          </li> 
          <li>
            <i class="far fa-edit"></i>
            <a href="#">Edit Profile</a>
          </li>
          <li>a
            <i class="far fa-envelope"></i>
            <a href="#">Inbox</a>
          </li>
          <li>
            <i class="fas fa-user-cog"></i>
            <a href="#">Settings</a>
          </li>
          <li>
            <i class="far fa-question-circle"></i>
            <a href="#">Help</a>
          </li>
          <li>
            <i class="far fa-envelope"></i>
            <a href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->



<div class="content" >
    <mat-toolbar>
      <div class="profile" style="float: right;">
        <img id="profile-img" src="https://graeweb.github.io/expire/images/reviewer2.jpg" alt="profile-img">
      </div>
    </mat-toolbar>
     <!-- <div class="menu hidden">
      <h3>Someon Famous<br /><span>Website Designer</span></h3>
      <ul>
        <li>
          <i class="far fa-user-circle"></i>
          <a href="#">My Profile</a>
        </li>
        <li>
          <i class="far fa-edit"></i>
          <a href="#">Edit Profile</a>
        </li>
        <li>a
          <i class="far fa-envelope"></i>
          <a href="#">Inbox</a>
        </li>
        <li>
          <i class="fas fa-user-cog"></i>
          <a href="#">Settings</a>
        </li>
        <li>
          <i class="far fa-question-circle"></i>
          <a href="#">Help</a>
        </li>
        <li>
          <i class="far fa-envelope"></i>
          <a href="#">Logout</a>
        </li>
      </ul>
    </div>  -->
  </div>

  <div class="container add" id="container">
		<div class="brand">
			<h3>Web Dev</h3>
			<a href="#" id="toggle"><i class="bi bi-list"></i></a> 
		</div>
		<div class="user">
			<img src="/assets/logo.jpeg" alt="">
			<div class="name">
				<h5>Alex Milton</h5>
				<span>Web Developer</span>
			</div>
		</div>
		<div class="navbar">
			<ul>
				<li><a href="/contact-information"><span>Contact Information</span></a></li>
				<li><a href="/banking-information"><span>Bank Information</span></a></li>
				<li><a href="#"><span>Payment References</span></a></li>
				<li><a href="#"><span>Ownership Details</span></a></li>
				<li><a href="/payment-history"><span>Payment History</span></a></li>
				<li><a href="/portal-tickets"><span>Portal Tickets</span></a></li>
				<li><a href="#"><span>Documents</span></a></li>
				<li><a href="#"><span>Forms</span></a></li>
			</ul>
		</div>

		<div class="navbar">
			<ul>
				<li><a href="#"><i class="bi bi-box-arrow-in-right"></i><span>Log Out</span></a></li>
			</ul>
		</div>
	</div>


